body {
    background-color: rgb(20, 20, 20);
}

#real-main-container {
    display: flex;
    transition: all 1.5s ease;
}

#main-container {
    width: 50%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(30, 30, 30);
    box-shadow: -5px 4px 6px 0px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 1.5s ease
}

#items-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 20px;
    transition: all 1.5s ease;
}

#rebirth-items-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 20px;
    transition: all 1.5s ease;
    display: none;
}

.item-div{
    border-radius: 18px;
    background-color: rgb(20, 20, 20);
    border: solid 5px blanchedalmond;
    padding: 5px;
    min-height: 12em;
    width: 20em;
    color: white;
    position: relative;
    /* flex-direction: column; */
}

#item-name, .item-name{
    margin-left: 5px;
    font-weight: bolder;
    font-size: x-large;
    color: palevioletred;
}
#item-increase, .item-increase{
    margin-left: 5px;
    font-size: larger;
}
#item-cost, .item-cost{
    margin-left: 5px;
    font-size: larger;
}

#buy-button, .buy-button{
    position: absolute;
    bottom: 1em;
    left:1em;
    border-radius:12px;
    padding: 8px;
    padding-inline: 20px;
    font-size: larger;
    border: 0px;
    background-color: rgb(30,30,30);
    color:white;
    cursor: pointer;
}

#buy-button:hover, .buy-button:hover{
    background-color: rgb(40,40,40);
}

#new-upgrade-button, #rebirth-button, #upgrade-modal-close, #upgrade-modal-submit, #rebirth-modal-close, #rebirth-modal-submit {
    border-radius:12px;
    padding: 12px;
    padding-inline: 25px;
    font-size: larger;
    border: 0px;
    background-color: rgb(20,20,20);
    color:white;
    cursor: pointer;
    margin: 15px;
    transition: 1s ease;
}

#new-upgrade-button:hover, #rebirth-button:hover, #upgrade-modal-close:hover, #upgrade-modal-submit:hover, #rebirth-modal-close:hover, #rebirth-modal-submit:hover{
    background-color: rgb(40,40,40);
}

#upgrade-modal-close, #rebirth-modal-close {
    background-color: rgb(10, 10, 10);
    color: red;
    font-weight: bolder;
    padding-inline: 80px;
}

#rebirth-modal-close {
    padding-inline: 20px;
}

#upgrade-modal-submit, #rebirth-modal-submit {
    background-color: rgb(10, 10, 10);
    color: lime;
    font-weight: bolder;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#cookie-container {
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    transition: 1.5s ease;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#cookie:active{
    width: 430px;
    height: 430px;
}

#cookie{
    transition: 300ms ease;
}

#cookies-count, #rebirth-count, #rebirth-points-count {
    color: white;
    font-family: sans-serif;
    margin: 30px;
    transition: 1.5s ease;

}

#cookies-count {
    color: palevioletred;
}

#rebirth-count, #rebirth-points-count {
    color: lime;
    display: none;
}

#rebirth-points-count {
    font-weight: lighter;
}

#cookies-count span, #rebirth-count span, #rebirth-points-count span {
    color: white;
}

.number-effect {
    position: absolute;
    pointer-events: none;
    font-size: 3rem;
    color: palevioletred;
    opacity: 1;
    transition: transform 3s ease, opacity 3s ease;
    user-select: none;
    z-index: 1000;
}

#closeButton {
    position:absolute;
    top: 15px;
    left: -30px;
    margin: 5px;
    border-radius: 100%;
    padding: 10px;
    background-color: palevioletred;
    transition: 1.5s ease;
}

#rebirthShopButton {
    position:absolute;
    top: 5em;
    left: -30px;
    margin: 5px;
    border-radius: 100%;
    padding: 10px;
    background-color: lime;
    transition: 1.5s ease;
}

#upgrade-modal, #rebirth-modal {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgb(20,20,20);
    z-index: 50;
    border-radius: 12px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}



.upgrade-modal-div, .rebirth-modal-div {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    margin: 4em;
}

#screen-blackout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 49;
    display: none;
}

h1 {
    margin: 20px;
    text-align: center;
}

#rebirth-button {
    display: none;
}